<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <small>Let's chat</small>
            </a>
            <div>
                <span id="user-data">Unauthorized</span>
            </div>

        </div>
    </nav>
</header>